body, ul, li, h1, h2, a, p{
    margin: 0;
    padding: 0;
    font-family: tahoma;
  }
header{
    background-image: linear-gradient(to right, indigo , azure);
    box-shadow: 10px;
    text-align: start;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 6px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 1;
}
nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30px;
    padding: 10px;
    z-index: 1;
  }
  nav > p{
    color: white;
    font-weight: bold;
    font-size: larger;
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li{
    display: inline-block;
    font-size: medium;
  }
  nav li a{
    text-decoration: none;
    color: #4B4B4B;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.join{
    color: #F63232;
  }
main{

}
.calendar{
    padding: 10px;
    border-radius: 4px;
    max-width: 960px;
}
.calendar-header{
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.nav-previous{
    grid-column: 3 / 4;
    justify-self: end;
}
.nav-next{
    grid-column: 5 / 6;
    justify-self: start;
}
.month-name {
    text-align: center;
    grid-column: 4 / 5;
}
.month-name > p{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.day-labels{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding-bottom: 10px;
}
.day-labels > p{
    font-size: medium;
}
.calendar-footer{

}
.container{
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}
.day{
    display: grid;   
    grid-template-rows: repeat(2, 1fr); 
    min-width: 40px;
    min-height: 60px;
    background: whitesmoke;
    position: relative;
    border-radius: 4px;
}
.container div > p{
    position: absolute;
    top: 2px;
    left: 2px;
}
.day div {
    grid-row: 2;
    font-size: small;
    justify-self: end;
    padding: 10px;
    height: 25%;
    color: white;
}
.PTO {
    background: blue;
    border-radius: 6px;
}
.Flex {
    background: green;
    border-radius: 6px;
}